.botao {
  background-color: #faf500;
  color: #000;
  padding: 12px 21px;
  border: none;
  border-radius: 8px;
  width: 200px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.botao:hover {
  background-color: transparent;
  border: 1px solid #faf500;
}